{% extends 'base.html' %}

{% block title %} Ticket List {% endblock %}

{% block content %}
     <h2>Ticket</h2>
     <p>Total number of ticket :</p>{{ Ticket.quantity.count}} 
     <table class="styled-table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Ticket Type</th>
                <th>Price</th>
                <th>Quantity Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.event.name }}</td>
                <td>{{ ticket.ticket_type }}</td>
                <td>{{ ticket.price }}</td>
                <td>{{ ticket.quantity }}</td>
                <td>
                    <a href="{% url 'ticket_detail' ticket.id %}">View</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">NO tickets available.</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
     <a href="{% url 'ticket_create' %}">Create New Tickets</a>
{% endblock %}