{% extends 'base.html' %}

{% block title %}Delete Registration{% endblock %}

{% block content %}
    <h2>Are you sure you want to delete this registration?</h2>
    <p><strong>User:</strong> 
        {% if registration.user %}
            {{ registration.user.username }}
        {% else %}
            Unknown User
        {% endif %}
     </p>
    <p><strong>Event:</strong> 
        {% if registration.event %}
            {{ registration.event.name }}
        {% else %}
            Unknown Event
        {% endif %}
     </p>
    <p><strong>Ticket:</strong> 
        {% if registration.ticket %}
            {{ registration.ticket.ticket_type }}
        {% else %}
            NO Ticket
        {% endif %}
     </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'registration_list' %}">Cancel</a>
    </form>
{% endblock %}
