<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Management System{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/evn_list.css' %}">
</head>
<style>
    .hello-msg{
        font-size: 18px;
        color :#fff;
        margin-right:20px;
    }
</style>
<body>
    <header>
        <h1>Event Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'event_list' %}">Events</a></li>
                <li><a href="{% url 'registration_list' %}">Register</a></li>
                <li><a href="{% url 'ticket_list' %}">Ticket</a></li>
                <li><a href = "{% url 'venue_list' %}">Venue</a></li>
                <li><a href = "{% url 'feedback_list' %}">Feedback</a></li>

            </ul>
            <span class='hello-msg'>Hello, {{request.user}}</span>
            <span class='hello-msg'><a href="{% url 'logout' %}">Logout</a></span>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Event Management System</p>
    </footer>
</body>
</html>


